# --- Entorno Local ---
logs/
conf/

# --- Base de Datos ---
app/sql/

# --- WordPress Core ---
app/public/wp-admin/
app/public/wp-includes/
app/public/wp-*.php
app/public/index.php
app/public/xmlrpc.php
app/public/license.txt
app/public/readme.html
!app/public/wp-config-sample.php

# --- Configuración Sensible ---
app/public/wp-config.php
app/public/.htaccess
app/public/local-xdebuginfo.php

# --- Contenido de Usuario ---
app/public/wp-content/upgrade/
app/public/wp-content/cache/
app/public/wp-content/uploads/

# --- Logs ---
*.logapp/sql/local.sql
logs/php/php-fpm.log
logs/
app/public/wp-content/plugins/classic-editor/
