# --- Entorno Local ---
# (Estos suelen estar un nivel arriba, pero si están aquí, dejalos)
logs/
conf/
*.log

# --- WordPress Core ---
wp-admin/
wp-includes/
wp-*.php
index.php
xmlrpc.php
license.txt
readme.html
!wp-config-sample.php

# --- Configuración Sensible ---
wp-config.php
.htaccess

# --- Contenido de Usuario ---
wp-content/upgrade/
wp-content/cache/
wp-content/uploads/